<mat-toolbar color="primary">
  <div class="toolbar-container">
    <div class="nav-links">
      <a>CoinMarketCap</a>
      <a >Cryptocurrencies</a>
      <a  >Exchanges</a>
      <a  >NFT</a>
      <a  >CryptoTown</a>
      <a  >Portfolio</a>
      <a  >Watchlist</a>
      <a  >Products</a>
      <a  >Learn</a>
    </div>
    <div class="container-button">
      <button mat-button class="button-log-in">Log In</button>
      <button mat-raised-button color="accent" class="button-sign-up">Sign up</button>
      <div  class="custom-search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Buscar" (input)="onSearch($event)">
        <button mat-icon-button matSuffix class="clear-button" (click)="onSearch('')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

  </div>
</mat-toolbar>
