.container-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  max-height: 400px; /* Altura máxima da div */
  overflow-y: auto;  /* Rolagem vertical */
  padding-bottom: 2rem; /* Espaço para a barra de rolagem */
}

/* Adiciona um estilo opcional para estilizar a barra de rolagem */
.card-container {
  width: 100%;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da barra de rolagem */
  border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor da barra de rolagem ao passar o mouse */
}
