table {
    width: 100%;
  }
  
  th, td {
    text-align: left;
  }
  
  .negative {
    color: red;
  }
  
  button {
    margin-left: 10px;
  }
  
  .favorite-icon {
    color: gold; /* ou qualquer cor que se ajuste ao seu design */
  }
  
  